---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main
    class="mx-auto flex h-svh w-svw flex-col items-center justify-center px-6"
  >
    <h1 class="text-4xl font-medium">page not found.</h1>
    <div class="text-foreground/80 mt-4">
      <a href="/">lesterong.com</a>
    </div>
  </main>
</Layout>
