---
import { getEntry } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import ProjectItem from '../components/ProjectItem.astro';

const EMAIL = 'lesterong776@gmail.com';

const projects = (await getEntry('projects', 'projects'))?.data || [];
const designProjects = (await getEntry('projects', 'design'))?.data || [];
---

<Layout>
  <div class="bg-background absolute top-0 -z-10 h-full w-full max-w-xl">
    <div
      class="absolute top-0 size-120 -translate-x-1/2 translate-y-[20%] rounded-full bg-[#ff66ff]/30 opacity-50 blur-3xl dark:bg-[#ff66ff]/15"
    >
    </div>
  </div>
  <main class="mx-auto max-w-3xl px-6 py-8 sm:px-12">
    <section>
      <h1 class="text-xl font-semibold">lesterong</h1>
      <div class="text-muted-foreground -mt-0.5">/ design + engineering</div>
    </section>

    <section
      class="flex h-[calc(100lvh-50px-32px)] min-h-96 max-w-xl items-center text-5xl sm:text-6xl"
    >
      <div>
        I
        <span class="font-serif text-[#0097AB] italic dark:text-[#00C6E0]"
          >design</span
        >
        and
        <span
          class="font-mono tracking-tighter text-[#4447FF] dark:text-[#8082FF]"
          >develop</span
        >
        digital experiences you'll love.
        <span class="text-lg whitespace-nowrap">(well, hopefully)</span>
      </div>
    </section>

    <section class="mt-12 text-lg leading-relaxed">
      <h2 class="sr-only">About Me</h2>
      <div>
        I'm Lester, a software engineer based in Singapore. My main interests
        encompasses front-end software engineering, animations and
        human-computer interaction. I find joy in crafting delightful user
        interfaces that users love.
      </div>
      <div class="mt-6">
        I first picked up web development in 2020 when I discovered
        <a href="https://www.theodinproject.com/" target="_blank" rel="noopener"
          >The Odin Project</a
        >. Since then, I've worked on many projects spanning multiple domains,
        including architecture and e-commerce. In 2025, I earned my B.Comp in
        Computer Science from the National University of Singapore.
      </div>
      <div class="mt-6">
        You can see more of my work below or on my
        <a href="https://github.com/lesterong" target="_blank" rel="noopener"
          >GitHub</a
        >. You can also reach me on
        <a
          href="https://linkedin.com/in/lesterongpc"
          target="_blank"
          rel="noopener">LinkedIn</a
        > or via
        <a href=`mailto:${EMAIL}`>email</a>.
      </div>
    </section>

    <section class="mt-32">
      <h2 class="text-3xl font-medium">Projects</h2>
      <div class="text-muted-foreground">
        Things I've crafted over the years...(⭐ = favourite)
      </div>
      <ul class="mt-4 list-disc pl-4">
        {projects.map((project) => <ProjectItem {...project} />)}
      </ul>

      <div class="text-muted-foreground mt-12">
        ...and the ones I only worked on design.
      </div>
      <ul class="mt-4 list-disc pl-4">
        {designProjects.map((project) => <ProjectItem {...project} />)}
      </ul>
    </section>

    <section class="mt-32">
      <h2 class="text-3xl font-medium">Tools</h2>
      <div class="text-muted-foreground">The tools I love and use daily.</div>
      <ul class="mt-4 list-disc pl-4">
        <li>
          Notion <span class="text-muted-foreground"
            >(project management and note-taking)</span
          >
        </li>
        <li>
          Jetbrains IDEs <span class="text-muted-foreground">(any, really)</span
          >
        </li>
        <li>Figma <span class="text-muted-foreground">(design work)</span></li>
        <li>
          Arc Browser <span class="text-muted-foreground"
            >(RIP, my browser of choice)</span
          >
        </li>
        <li>Macbook Pro M5, 2025</li>
        <li>
          MX Anywhere 3S <span class="text-muted-foreground"
            >(when the trackpad hurts my fingers)</span
          >
        </li>
      </ul>
    </section>

    <footer class="text-muted-foreground mt-32 text-sm">
      <div>
        <a
          href="https://github.com/lesterong"
          rel="noopener"
          target="_blank"
          class="hover:text-foreground no-underline">github</a
        > /
        <a
          href="https://linkedin.com/in/lesterongpc"
          rel="noopener"
          target="_blank"
          class="hover:text-foreground no-underline">linkedin</a
        > / <a href=`mailto:${EMAIL}` class="hover:text-foreground no-underline"
          >email</a
        >
      </div>
      <div class="mt-1.5">
        &copy; lesterong.com, 2019 - {new Date().getFullYear()}
      </div>
    </footer>
  </main>
</Layout>
