---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div
    class="absolute top-0 -z-10 h-screen w-screen bg-background bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
  >
  </div>
  <main class="px-6 sm:px-12 py-8 max-w-3xl">
    <section>
      <h1 class="font-semibold text-xl">lesterong</h1>
      <div class="text-muted-foreground -mt-0.5">/ design + engineering</div>
    </section>

    <section
      class="text-5xl sm:text-6xl max-w-xl h-[calc(100dvh-50px-32px)] flex items-center"
    >
      <div>
        I
        <span class="text-[#0097AB] dark:text-[#00C6E0] italic font-serif"
          >design</span
        >
        and
        <span
          class="text-[#4447FF] dark:text-[#8082FF] tracking-tighter font-mono"
          >develop</span
        >
        digital experiences you'll love.
        <span class="text-lg whitespace-nowrap">(well, hopefully)</span>
      </div>
    </section>

    <section class="max-w-lg text-lg mt-12 leading-relaxed">
      <h2 class="sr-only">About Me</h2>
      <div>
        I'm Lester, a software engineer based in Singapore. My main interests
        encompasses front-end software engineering, animations and
        human-computer interaction. I find joy in crafting delightful user
        interfaces that users love.
      </div>
      <div class="mt-6">
        I first picked up web development in 2020 when I discovered
        <a href="https://www.theodinproject.com/" target="_blank" rel="noopener"
          >The Odin Project</a
        >. Since then, I've worked on many projects spanning multiple domains,
        including architecture and e-commerce. In 2025, I earned my B.Comp in
        Computer Science from the National University of Singapore.
      </div>
      <div class="mt-6">
        You can more of my work below or on my
        <a href="https://github.com/lesterong" target="_blank" rel="noopener"
          >GitHub</a
        >. You can also reach me on
        <a
          href="https://linkedin.com/in/lesterongpc"
          target="_blank"
          rel="noopener">LinkedIn</a
        > or via
        <a href="mailto:lesterong776@gmail.com">email</a>.
      </div>
    </section>

    <section class="mt-32">
      <h2 class="font-medium text-3xl">Projects</h2>
      <div class="text-muted-foreground">
        Things I've crafted over the years...
      </div>
      <ul class="list-disc pl-4 mt-4">
        <li>
          <a href="https://nus-digital-twin.com" target="_blank" rel="noopener"
            >NUS Digital Twin</a
          > (Web)
        </li>
        <li>
          <a href="https://yonsei-campus.com" target="_blank" rel="noopener"
            >Yonsei Digital Twin</a
          > (Web)
        </li>
        <li>
          <a
            href="https://github.com/cs3217-2425/group-project-ah-leong-s-farm"
            target="_blank"
            rel="noopener">Ah Leong's Farm</a
          > (iOS)
        </li>
        <li>
          <a href="https://squares.lesterong.com" target="_blank">squares</a> (Web)
        </li>
        <li>Peggle Clone (iOS)</li>
        <li>OmniCAT (Web)</li>
        <li>
          <a href="https://good-bi.vercel.app/" target="_blank" rel="noopener"
            >GoodBI</a
          > (Web)
        </li>
        <li>
          <a href="https://seaclimatenpos.org/" target="_blank" rel="noopener"
            >seaclimatenpos.org</a
          > (Web)
        </li>
        <li>
          <a
            href="https://capitalsofthefuture.org"
            target="_blank"
            rel="noopener"
          >
            capitalsofthefuture.org
          </a> (Web)
        </li>
        <li>
          <a href="https://civictechlab.org" target="_blank" rel="noopener">
            civictechlab.org
          </a> (Web)
        </li>
        <li>Taskority (Web)</li>
        <li>NUS FAQ (Web)</li>
        <li>bayuhao.org (Web)</li>
        <li>NUScheduler (Desktop)</li>
        <li>John Chatbot (Desktop)</li>
      </ul>

      <div class="text-muted-foreground mt-12">
        ...and the ones I only worked on design.
      </div>
      <ul class="list-disc pl-4 mt-4">
        <li>InternTwine</li>
        <li>Dine Inn</li>
      </ul>
    </section>

    <section class="mt-32">
      <h2 class="font-medium text-3xl">Tools</h2>
      <div class="text-muted-foreground">The tools I love and use daily.</div>
      <ul class="list-disc pl-4 mt-4">
        <li>
          Notion <span class="text-muted-foreground"
            >(to-do lists and note-taking)</span>
        </li>
        <li>
          Jetbrains IDEs <span class="text-muted-foreground"
            >(any, really)</span>
        </li>
        <li>Figma <span class="text-muted-foreground">(design work)</span></li>
        <li>
          Arc Browser <span class="text-muted-foreground"
            >(RIP, my browser of choice)</span>
        </li>
        <li>Macbook Air M1, 2020</li>
        <li>
          MX Anywhere 3S <span class="text-muted-foreground"
            >(when the trackpad hurts my fingers)</span>
        </li>
      </ul>
    </section>

    <footer class="text-sm text-muted-foreground mt-32">
      &copy; lesterong.com, 2019 - {new Date().getFullYear()}
    </footer>
  </main>
</Layout>
