---
import { Font } from "astro:assets";

const description = "Lester Ong - Software Engineer and Designer";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link rel="apple-touch-icon" href="/logo192.png" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/logo512.png" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Lester Ong" />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="/logo512.png" />
    <title>Lester Ong</title>
  </head>
  <Font cssVariable="--font-figtree" preload />
  <style>
    :root {
      --background: #f5f5f5;
      --foreground: #212121;
      --link: #0066ff;
    }

    @media (prefers-color-scheme: dark) {
      :root {
        --background: #121212;
        --foreground: #fafafe;
        --link: #458fff;
      }
    }

    body {
      font-family: var(--font-figtree);
      display: grid;
      place-content: center;
      min-height: 100dvh;
      text-align: center;
      background-color: var(--background);
      color: var(--foreground);
      max-width: 628px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    h1 {
      font-size: 1.75rem;
      font-weight: 600;
    }

    h2 {
      font-size: 1.375rem;
    }

    h2:not(:first-of-type) {
      margin-top: 2.25rem;
    }

    .link-container {
      display: flex;
      gap: 20px;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      > a {
        text-decoration: none;
        color: var(--link);
      }

      > a:hover {
        opacity: 0.8;
      }
    }

    footer {
      margin-top: 3rem;
      font-size: 0.875rem;
      opacity: 0.5;
      margin-bottom: 1rem;
    }
  </style>
  <body>
    <h1>
      lesterong.com <span style="opacity: 0.3;">\</span> design + engineering
    </h1>
    <h2>Social</h2>
    <div class="link-container">
      <a target="_blank" href="https://github.com/lesterong" rel="noreferrer">
        GitHub
      </a>
      <a
        target="_blank"
        href="https://linkedin.com/in/lesterongpc"
        rel="noreferrer"
      >
        LinkedIn
      </a>
      <a target="_blank" href="mailto:lesterong776@gmail.com"> Email </a>
    </div>
    <h2>Work</h2>
    <div class="link-container">
      <span>Yonsei Digital Twin</span>
      <a
        target="_blank"
        href="https://www.nus-digital-twin.com"
        rel="noreferrer"
      >
        NUS Digital Twin
      </a>
      <a
        target="_blank"
        href="https://github.com/cs3217-2425/group-project-ah-leong-s-farm"
        rel="noreferrer"
      >
        Ah Leong's Farm
      </a>
      <a target="_blank" href="https://squares.lesterong.com" rel="noreferrer">
        squares
      </a>
      <span>Peggle</span>
      <span>OmniCAT</span>
      <a target="_blank" href="https://good-bi.vercel.app" rel="noreferrer">
        GoodBI
      </a>
      <a target="_blank" href="https://civictechlab.org" rel="noreferrer">
        civictechlab.org
      </a>
      <a target="_blank" href="https://seaclimatenpos.org" rel="noreferrer">
        seaclimatenpos.org
      </a>
      <a
        target="_blank"
        href="https://capitalsofthefuture.org"
        rel="noreferrer"
      >
        capitalsofthefuture.org
      </a>
      <a target="_blank" href="https://bayuhao.org" rel="noreferrer">
        bayuhao.org
      </a>
      <a
        target="_blank"
        href="https://github.com/AY2223S1-CS2103T-T17-3/tp"
        rel="noreferrer"
      >
        NUScheduler
      </a>
      <a
        target="_blank"
        href="https://github.com/lesterong/ip"
        rel="noreferrer"
      >
        John Chatbot
      </a>
      <a target="_blank" href="https://nusfaq.netlify.app" rel="noreferrer">
        NUS FAQ
      </a>
      <a
        target="_blank"
        href="https://github.com/lesterong/taskority"
        rel="noreferrer"
      >
        Taskority
      </a>
    </div>
    <footer>&copy; lesterong.com, {new Date().getFullYear()}.</footer>
  </body>
</html>
