@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Font imports
 **/
@font-face {
  font-family: 'Figtree';
  src: url(./fonts/Figtree-VariableFont_wght.ttf) format('truetype-variations');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Figtree Italics';
  src: url(./fonts/Figtree-Italic-VariableFont_wght.ttf) format('truetype-variations');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url(./fonts/SpaceGrotesk-VariableFont_wght.ttf) format('truetype-variations');
  font-weight: 100 900;
  font-display: swap;
}

/**
 * Basic styling
 */
body {
  @apply bg-beige font-body text-gray-900;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  @apply font-display text-6xl font-bold sm:text-7xl;
}

h2 {
  @apply font-display text-3xl font-bold underline decoration-indigo-600 underline-offset-4 sm:text-4xl;
}

h3 {
  @apply font-display text-xl font-bold sm:text-2xl;
}

h4 {
  @apply font-display text-sm font-bold;
}

p {
  @apply font-body text-base font-normal sm:text-lg;
}

/**
 * Dropdowns
 */
.dropdown {
  @apply absolute z-10 w-auto overflow-auto rounded-md border border-gray-400/30 bg-white text-base shadow-sm;
}

.navbar__dropdown {
  @extend .dropdown;
  @apply flex flex-col;
}

.sorter__dropdown {
  @extend .dropdown;
  @apply mt-1;
}

.dropdown-transition {
  @apply transition duration-150 ease-in-out;
}

.dropdown-transition-is-close {
  @apply scale-75 opacity-0;
}

.dropdown-transition-is-open {
  @apply scale-100 opacity-100;
}

.dropdown__item {
  @apply cursor-pointer py-1 pl-2 pr-8;

  &.active {
    @apply bg-indigo-400/30;
  }

  &.selected {
    @apply font-semibold;
  }
}

.navbar__dropdown__item {
  @extend .dropdown__item;
  @apply pr-8 font-display;
}

.sorter__dropdown__item {
  @extend .dropdown__item;
  @apply pr-6;
}

.work-list {
  @apply ml-4 list-disc;
}

input:not([type='radio']):not([type='checkbox']),
.message-input {
  @apply w-full rounded-none border-b border-b-gray-800 bg-transparent focus:border-b-indigo-600 focus:outline-none;
}

.nav-link {
  @apply text-indigo-600 transition duration-200 hover:text-indigo-800;

  &:hover {
    .right-arrow {
      @apply animate-bounce-right motion-reduce:animate-none;
    }

    .down-arrow {
      @apply animate-bounce-down motion-reduce:animate-none;
    }
  }
}

.text-gradient {
  @apply bg-gradient-to-r from-indigo-600 to-indigo-800 bg-clip-text text-transparent;
}

.animate-gradient {
  @apply animate-gradient-shift;
  background-size: 250% 250%;
}

.skill-icon {
  @apply flex w-12 flex-col items-center;

  svg {
    @apply h-12 w-12 grayscale transition-all duration-300;
  }

  span {
    @apply text-center font-body text-xs opacity-0 transition-opacity duration-200;
  }

  &:hover {
    svg {
      @apply grayscale-0;
    }

    span {
      @apply opacity-100;
    }
  }
}
