@use 'styles/base.scss';
@use 'styles/card.scss';
@use 'styles/dropdown.scss';
@use 'styles/navbar.scss';
@use 'styles/toast.scss';

@use 'styles/pages/page-base.scss';
@use 'styles/pages/contact.scss';

/**
 * Font imports
 **/
@font-face {
  font-family: 'Figtree';
  src: url(./fonts/Figtree-VariableFont_wght.ttf) format('truetype-variations');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Figtree Italics';
  src: url(./fonts/Figtree-Italic-VariableFont_wght.ttf) format('truetype-variations');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url(./fonts/SpaceGrotesk-VariableFont_wght.ttf) format('truetype-variations');
  font-weight: 100 900;
  font-display: swap;
}

.work-list {
  @apply ml-4 list-disc;
}

.text-gradient {
  @apply bg-gradient-to-r from-indigo-600 to-indigo-800 bg-clip-text text-transparent;
}

.animate-gradient {
  @apply animate-gradient-shift;
  background-size: 250% 250%;
}

.skill-icon {
  @apply flex w-12 flex-col items-center;

  svg {
    @apply h-12 w-12 grayscale transition-all duration-300;
  }

  span {
    @apply text-center font-body text-xs opacity-0 transition-opacity duration-200;
  }

  &:hover {
    svg {
      @apply grayscale-0;
    }

    span {
      @apply opacity-100;
    }
  }
}
