@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Figtree';
  src: url(./fonts/Figtree-VariableFont_wght.ttf) format('truetype-variations');
  font-weight: 100 900;
}

@font-face {
  font-family: 'Figtree Italics';
  src: url(./fonts/Figtree-Italic-VariableFont_wght.ttf) format('truetype-variations');
  font-weight: 100 900;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url(./fonts/SpaceGrotesk-VariableFont_wght.ttf) format('truetype-variations');
  font-weight: 100 900;
}

h1 {
  @apply font-display text-5xl font-bold sm:text-7xl;
}

p {
  @apply font-body text-lg font-normal md:text-base;
}
