@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Figtree';
  src: url(./fonts/Figtree-VariableFont_wght.ttf) format('truetype-variations');
  font-weight: 100 900;
}

@font-face {
  font-family: 'Figtree Italics';
  src: url(./fonts/Figtree-Italic-VariableFont_wght.ttf) format('truetype-variations');
  font-weight: 100 900;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url(./fonts/SpaceGrotesk-VariableFont_wght.ttf) format('truetype-variations');
  font-weight: 100 900;
}

body {
  @apply font-body text-gray-300;
}

h1 {
  @apply font-display text-6xl font-bold sm:text-7xl;
}

h2 {
  @apply font-display text-3xl font-bold underline decoration-indigo-200 underline-offset-4 sm:text-4xl;
}

h3 {
  @apply font-display text-xl font-bold sm:text-2xl;
}

h4 {
  @apply font-display text-sm font-bold;
}

h5 {
  @apply font-body text-xs;
}

p {
  @apply font-body text-base font-normal sm:text-lg;
}

ul {
  @apply ml-4 list-disc;
}

input,
textarea {
  @apply w-full border-b bg-beige-100 focus:border-b-indigo-200 focus:outline-none;
}

.nav-link {
  @apply text-indigo-200 hover:text-indigo-300;
}

.nav-link:hover .right-arrow {
  @apply animate-bounce-right motion-reduce:animate-none;
}

.nav-link:hover .down-arrow {
  @apply animate-bounce-down motion-reduce:animate-none;
}

.text-gradient {
  @apply bg-gradient-to-r from-indigo-200 to-indigo-300 bg-clip-text text-transparent;
}

.animate-gradient {
  @apply animate-gradient-shift;
  background-size: 250% 250%;
}
